body{
  background-color: #f7f8fa;
  color: #9eacc1;
}
/* =================================================
        U _ N _ I _ F _ O _ R _ M _ I _ T _ E
   ================================================= */
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
/* ================================================= */

/* ================================================= 
          S _ I _ D _ E _ B _ A _ R
   ================================================= */

#sidebar a{
  color: #9eacc1;
}
#sidebar a :hover{
  color: #0e56ff;
}
/* ================================================= */

/* ================================================= 
          H _ E _ A _ D _ E _ R
   ================================================= */
   #headerInput{
    background-color: #efeef3;
  }
  
/* ================================================= */

/* ================================================= 
          C _ O _ R _ P _ S
   ================================================= */
#corps .title, #sidebar #welcome{
  color: #333;
  font-weight: bold;
}

/* ================================================= */

